@font-face {
  font-family: 'Minipax';
  font-weight: 400;
  font-style: normal;
  src: url('./Minipax-Regular.woff2') format('woff2'),
    url('./Minipax-Regular.woff') format('woff'),
    url('./Minipax-Regular.eot') format('eot');
}

@font-face {
  font-family: 'Plex Mono';
  font-weight: 400;
  font-style: normal;
  src: url('./IBMPlexMono-Text.woff2') format('woff2'),
    url('./IBMPlexMono-Text.woff') format('woff'),
    url('./IBMPlexMono-Text.eot') format('eot');
}

body {
  font-family: 'Minipax', Times New Roman, serif;
  margin: 0;
  padding: 0;
}

iframe {
  margin-bottom: 1em;
}

pre, code {
  font-family: 'Plex Mono', Courier, monospace;
  font-size: 10pt;
}

em {
  font-style: normal;
  letter-spacing: 2pt;
}

p {
  max-width: 500px;
  font-size: 10pt;
  letter-spacing: 0.05pt;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  font-size: 10pt;
  line-height: 1.5em;
  list-style-type: '— ';
}

#main a {
  border-bottom: 3pt solid rgba(255,229,137,0.5);
  padding: -3px;
  margin-bottom: -3px;
}

h1 {
  font-size: 100pt;
  font-weight: 400;
  margin: 0 0 0.5em 0;
}

h2 {
  font-size: 20pt;
  font-weight: 400;
  letter-spacing: 0.02pt;
}

h3 {
  font-weight: 400;
  letter-spacing: 0.02pt;
}

img {
  width: 100%;
  margin: 1em 0;
}

#main {
  float: left;
  margin-left: 10%;
  max-width: 66%;
}

@media (max-width: 1000px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 50pt;
  }

  #main {
    max-width: 100%;
    margin: 0;
    float: none;
    clear: both;
    overflow: hidden;
  }
}
