<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ metadata.title }}</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
  </head>
  <body>
    <header>
      <div id="title">
        <a href="/"><h1>{{ metadata.title }}</h1></a>
      </div>
    </header>
    <main>
      <div id="main">
        <div id="workTitle">
          <h2 id="workTitle">{{ title }}</h2>
        </div>
        {{ content | safe }}
      </div>
    </main>
  </body>
</html>
