<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="K E N O ">
    <meta name="description" content="Art: publishing, algorithms, infrastructure.">
    <meta name="keywords" content="art, media art, publishing, algorithms, infrastructure, code, printing">

    <title>{{ metadata.title }}</title>

    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/favicon.png"/>

    <script async defer data-domain="kenokeno.bingo" src="https://data.keno-westhoff.de/js/plausible.js"></script>
  </head>
  <body>
    <header>
      <div id="title">
        <a href="/"><h1>{{ metadata.title }}</h1></a>
      </div>
      <div id="meta">
        {% for meta in collections.meta %}
        <a href="{{ meta.url }}"><button>{{ meta.data.title }}</button></a>
        {% endfor %}
      </div>
    </header>
    <main>
      <div id="main">
        {{ content | safe }}
      </div>
    </main>
  </body>
</html>
